
/*  splash    */
a.splash_anchor {text-decoration: none}
.login_splash {width: 75%; margin-top: 5vh; margin-bottom: 5vh; min-height: 100%; }
.login_splash h1 {font-size: 8vw; text-align: center; margin: 0; margin-top: -2%; text-transform: uppercase; font-weight: normal; }
.login_splash h2 {font-size: 15vw; text-align: center; letter-spacing: 0.05em; margin-bottom: 0; text-transform: uppercase; font-weight: normal; }

p.app_description {text-align: center;}

/*  login controls */
.login_controls_container {display: flex; flex-direction: column; flex-wrap: nowrap; }
.login_control_panel {width: 100%; margin-top: 0.6em; } /* keeps the button widths uniform */
.remember_me {text-align: right; margin-top: -1em; }
.login_field_error {margin: 1em; color: #600; display: block; margin-top: -1em; }

/* login link bar */

.login_link_bar {display: flex; flex-direction: row; justify-content: space-between; }

/* misc. UI */
.flashed_message {margin: 1em; margin-bottom: 0; text-align: center; transition: 1s; font-weight: bold; }

/*  downtime container */
.downtime_container {}

/* reset pw */
.reset_pw_panel {width: 75%; margin: 1em auto; margin-top: 2em; text-align: center; }
.reset_pw_graphic {margin: 0 auto; width: 10em; margin-bottom: 2em;}
.reset_pw_panel p.reset_pw_response {font-size: 1.3em; }
