
/*  splash    */
a.splash_anchor {text-decoration: none}
.login_splash {width: 65%; margin-bottom: 10em; }
.login_splash h1 {font-size: 8vw; text-align: center; margin: 0; margin-top: -2%; text-transform: uppercase; font-weight: normal; }
.login_splash h2 {font-size: 15vw; text-align: center; letter-spacing: 0.05em; margin-bottom: 0; text-transform: uppercase; font-weight: normal; }

/*  login controls */
.login_controls_container {display: flex; flex-direction: column; flex-wrap: nowrap; }
.login_control_panel {width: 100%; margin-top: 0.6em; } /* keeps the button widths uniform */
.remember_me {text-align: right; margin-top: -1em; }
.login_field_error {margin: 1em; color: #600; display: block; margin-top: -1em; }

/* login link bar */

.login_link_bar {display: flex; flex-direction: row; justify-content: space-between; }

/* misc. UI */
.flashed_message {margin: 1em; margin-bottom: 0; text-align: center; transition: 1s; font-weight: bold; }

/*  downtime container */
.downtime_container {}

