
/*  splash    */
a.splash_anchor {text-decoration: none}
.login_splash {
  position: absolute;
  top: 7%;
  transform: translate(25%, 0%);
    width: 65%;
}
.login_splash h1 {font-size: 12vw; text-align: center; margin: 0; margin-top: -2%; }
.login_splash h2 {font-size: 11vw; text-align: center; letter-spacing: 0.05em; margin-bottom: 0; }

/*  login controls */
.login_controls_container {display: flex; flex-direction: column; flex-wrap: nowrap; }
.login_control_panel {width: 100%; margin-top: 0.6em; } /* keeps the button widths uniform */
.remember_me {text-align: right; margin-top: -1em; }
.login_field_error {margin: 1em; color: #600; display: block; margin-top: -1em; }

/* login link bar */

.login_link_bar {display: flex; flex-direction: row; justify-content: space-between; }


/*  downtime container */
.downtime_container {}

/*  header and footer   */

.login_header, .login_footer {position: absolute; left: 10%; right: 10%; height: 2%; padding: 1%; }
.login_header, .login_footer a {text-decoration: none; color: #111; font-size: 0.9em; }
.login_header, .login_footer a b {font-size: 0.85em; }  /* because Ruda numbers are fucking gigantic */

.login_header {top: 0; text-align: center; border-bottom: 1px solid #aaa; }
.login_footer {bottom: 0; text-align: right; border-top: 1px solid #aaa; padding-right: 0; }
