/*    General style, element-level    */

html {height: 100%; font-family: 'Ruda', sans-serif; font-size: 28px; }
body {height: 100%; transition: 1s; margin: 0 auto; }

h1, h2, h3 {font-family: 'Silverado', sans-serif; letter-spacing: 0.03em; }
button, input[type=submit]{font-family: 'Ruda', sans-serif; letter-spacing: 0.05em; transition: 1s;  }
button:focus, input[type=submit] {outline: none; }

hr {width: 100%;}

a {text-decoration: none; color: #000; }
a:active,
 button:active,
 .clickable:active {transform: translate(3px,3px); transition: 0.1s}

    /*      KD Rulebook Bullet reset    */
ul {list-style: none; margin-left: 0; padding-left: 0;}
li {margin: 3%; padding-left: 1em;  text-indent: -1em;}
li:before { content: "-";  padding-right: 0.5em;}


    /*  KD checkboxes   */
input[type=checkbox] {display: none}
input[type=checkbox] + label:before {content: "□ "; font-size: 200%; }
input[type=checkbox]:checked + label:before {content: "■ "; }

    /*  text input "pills" */
input[type=text],
    input[type=email],
    input[type=password] {font-family: 'Ruda'; font-size: 1.3em; border: 0; width: 95%; border-radius: 5em; margin: 0 auto; transition: 0.5s; display: block; cursor: pointer; border: none; padding: 0.6em; box-sizing: border-box; margin-bottom: 1.5em; padding-left: 1em; }
input[type=text]:focus,
    input[type=email]:focus,
    input[type=password]:focus {outline: none; transition: 1s; padding-left: 1.5em; }


    /*  global effects and meta styles  */
.clickable {cursor: pointer; }
.hidden {display: none;}
/*.visible {display: inherit;} */

    /*  AngularJS fades */

/*.ng-fade.ng-enter, .ng-fade.ng-leave {-webkit-transition: all linear 0.25s;}*/
.ng-fade.ng-enter, .ng-fade.ng-leave {transition: 0.25s; }
.ng-fade.ng-enter,
	.ng-fade.ng-leave.ng-leave-active {opacity: 0;}
.ng-fade.ng-leave,
	.ng-fade.ng-enter.ng-enter-active {opacity: 1;}
.ng-fade.ng-leave {position: absolute;}

    /*  header/footer */

.header, .footer {height: 1em; padding: 1%; width: 95%; }
.header,
 .footer,
 .footer a {text-decoration: none; font-size: 0.9em; }
.footer b {font-size: 0.9em; }  /* because Ruda numbers are fucking gigantic */

.header {text-align: center; border-bottom: 1px solid #aaa; position: fixed; }
.footer {text-align: right; border-top: 1px solid #aaa; padding-right: 0; }

    /*  UI elements selected by ID - teh l33t d3v shit  */
#container {background: transparent; margin: 0 auto; min-height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; }

#loadingVeil {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.9);}
#loadingVeil div.outer_circle {height: 30vw; width: 30vw; position: fixed; top: 25%; left: 50%; transform: translate(-50%, 50%); background: #111; border-radius: 100%; overflow: hidden; border: 0.3em solid #000; display: flex; justify-content: center; align-items: center; box-shadow: 0px 0px 6em 1em; }
#loadingVeil div img {height: 120%; }

    /* the modal shit show */

.modal_container {
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: auto;
    height: auto;
}

.ui_modal {             /* for when the modal is a KD card */
  position: absolute;
  left: 5vw; right: 5vw; bottom: auto; 
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
  margin: auto;
  margin-top: 5vh; /* min space ABOVE top of card */
  margin-bottom: 5vh; 
  padding-bottom: 5vh; /* min blank space at bottom of card*/ 
}


/* KD buttons */

.kd_ui_button {display: block; border: 0.3em solid; padding: 0.5em; border-width: 0.3em; border-radius: 666em; margin: 0 auto; margin: 1em auto; font-size: 1.2em; font-weight: bold; width: 95%; max-width: 65vw;}

/* rulebook styles */

.rulebook_headline {width: 85%; border-top: 1px solid; border-bottom: 1px solid; margin: 1em auto; text-align: center; padding-bottom: 1em; margin-top: 1.5em;}
.rulebook_headline h1 {font-size: 2.5em; text-transform: uppercase; font-weight: normal; margin-bottom: 0; }

/* settlement location card styles */
.settlement_location_modal_top {text-align: center; height: 30%; border-radius: inherit; }
.settlement_location_modal_top h1 {font-size: 3em; font-weight: normal; }
.settlement_location_modal_middle {display: flex; flex-direction: column; flex-wrap: nowrap; }
.settlement_location_item_container {border-radius: 1em; padding: 0; width: 90%; margin: 1em auto; display: flex; flex-direction: row; justify-content: space-between; height: 5.5vh; }
.settlement_location_item_graphic {width: 13%; border-radius: 0.5em; display: flex; justify-content: center; align-items: center; overflow: hidden;}
.profile_gravatar {border-radius: inherit; flex-shrink: 0; min-width: 93%; }
.settlement_location_item_name {width: 52%; display: flex; align-items: center; font-size: 1.1em; }
.settlement_location_item_recipe {width: 30%; border-radius: inherit; border-top-left-radius: 0; border-bottom-left-radius: 0; display: flex; align-items: center; justify-content: center; font-weight: bold;  }
.settlement_location_modal_bottom {border-radius: inherit; border-top-left-radius: 0; border-top-right-radius: 0;}
.settlement_location_modal_bottom h2 {margin: 1em; font-size: 2.1em; font-family: 'Arial'; margin-bottom: 0; font-weight: normal; }
.settlement_location_modal_bottom p {margin-left: 1.5em; margin-right: 1.5em; }

/* settlement event card styles */

.settlement_event_modal_top, .settlement_event_modal_bottom {margin: 0 auto; width: 100%; }
.settlement_event_modal_top {height: 15%; border-radius: inherit; }
.settlement_event_modal_top h1 {text-align: center; padding-top: 1%; font-size: 2.5em;  margin-bottom:0;}
.settlement_event_modal_top .subtitle {text-align: center; margin-top: -0.5%; }

.settlement_event_modal_bottom {border-top: 1px solid; border-radius: 50%/5%; height: 85%; padding-top: 7%; }
.settlement_event_modal_bottom p {text-align: center; font-size: 1.2em; width: 80%; margin: 0 auto; margin-bottom: 3%; }
.settlement_event_modal_bottom p a {text-decoration: none;  font-weight: bold; }

.settlement_event_lingering_effect_hr {margin: 0 auto; margin-top: 1.5em; margin-bottom: 1.5em; text-align: center; font-weight: bold; padding: 0.3em; font-size: 1.1em; }

.settlement_event_lingering_effect_container {display: flex; flex-direction: row; flex-wrap: nowrap; width: 95%; margin: 0 auto; margin-top: 1.2em; }
.settlement_event_lingering_effect {border-radius: 0.4em; margin: auto; display: flex; flex-direction: row; align-items: center; color: #000; width: 47%; border: 2px solid #ddd;}
.settlement_event_lingering_effect .art {width: 40%; border-radius: 100%; margin: 1em; height: 6em; display: flex; align-items: center; justify-content: center; }
.settlement_event_lingering_effect .art_inset {width: 85%; height: 85%; border-radius: 100%; display: flex; align-items: center; align-items: center; justify-content: center; }
.settlement_event_lingering_effect .art_inset img {width: 80%; filter: sepia(100%); }
.settlement_event_lingering_effect .text {width: 50%; text-align: left;  }



/* 

     mobile resolution ends here! 

*/

@media (max-width: 900px) {
  html { font-size: 15px; }
}

@media (max-width: 400px) {
  html { font-size: 13px; }
}
