<!DOCTYPE html>
<html ng-app="akdmManager" ng-controller="rootController" ng-init="initAPI('{{api.url}}'); initSession('{{current_user._id}}')">
    <head>

        <!-- 

            This is the "parent" template for the dashboard app! 

        -->

        <title>{{meta.title}}</title>
        <meta name="theme-color" content="#{{meta.theme_color}}" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.js"></script>

        <script src="/static/js/global.js?v={{meta.version}}"></script>
        <script src="/static/js/akdmManager.js?v={{meta.version}}"></script>
        <script src="/static/js/dashboard.js?v={{meta.version}}"></script>

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/fonts.css?v={{meta.version}}">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?v={{meta.version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css?v={{meta.version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/z-index.css?v={{meta.version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/color.css?v={{meta.version}}">

        <!-- UI themes based on user preference for night_mode -->
        <link
            ng-if="user.preferences.night_mode === true"
            rel="stylesheet"
            type="text/css"
            href="/static/css/theme_dark.css"
        >

        <link
            ng-if="user.preferences.night_mode === false"
            rel="stylesheet"
            type="text/css"
            href="/static/css/theme_light.css"
        >


    </head>

    <body ng-controller="dashboardController">


        <div id="container">
        
            <div class="header">
                - Dashboard -
            </div><!-- header -->

            <!-- dashboard button application starts here -->
            <div class="dashboard_button_container">


                <div class="dashboard_button clickable">
                    <p>latest settlement</p>
                    <p>with summary info</p>
                </div>

                <div class="dashboard_button clickable">
                    campaigns
                </div>

                <div
                    class="dashboard_button clickable"
				    ng-if="user.login !== undefined"
    				ng-click="ui.showProfileModal=true"
                >
                    <p>Settings</p>
                </div>

                <div class="dashboard_button clickable">
                    world
                </div>

                <div class="dashboard_button clickable">
                    about/info
                </div>

            </div><!-- dashboard_button_container -->

            <div class="footer">
                Advanced KDM-Manager: Version <b>{{meta.version}}</b>
            </div><!-- footer -->

        </div><!-- container -->


        <!-- dashboard app modals start here! -->


        <div id="profileModal" ng-if="ui.showProfileModal" class="ng-fade modal_container" ng-init="loadUserDashboard()">
            <div class="ui_modal settlement_location_gradient" ng-click="ui.showProfileModal=false">

                <div class="settlement_location_modal_top">
                    <h1>User Profile</h1>
                </div>

                <div class="settlement_location_modal_middle">

                    <div class="settlement_location_item_container">

                        <div class="settlement_location_item_graphic">
                            <img class="profile_gravatar" src="https://www.gravatar.com/avatar/{a user.gravatar_hash a}" />
                        </div> <!-- settlement_location_Graphic -->
                        <div class="settlement_location_item_name"><p>{a user.login a}</p></div>
                        <div class="settlement_location_item_recipe">

                            <p ng-if="user.subscriber.level === 0">Registered user</p>
                            <p ng-if="user.subscriber.level > 0">{a user.subscriber.desc a}</p>
                        
                        </div>
                    </div> <!-- settlement_location_item_container -->

                </div><!-- settlement_location_modal_middle -->

                <div class="settlement_location_modal_bottom">
                    <h2>User Statistics</h2>
                    <p>Registered user since {a user.created_on.$date|date:'yyyy-MM-dd' a}, <b>{a user.age a}</b> ago.</p>
                    <p ng-if="user.subscriber.level > 0"><b>{a user.subscriber.desc a}</b> subscriber since {a user.subscriber.created_on.$date|date:'yyyy-MM-dd' a}, <b>{a user.subscriber.age a}</b> ago!</p>
                    <p>Settlements created: <b>{a user.settlements_created a}</b>.</p>
                    <p>Survivors created: <b>{a user.survivors_created a}</b>.</p>
                    <p>{a user.dashboard.friends a}</p>
    		    	<a href="/logout"><button class="kd_ui_button kd_ui_button_grey">Log out</button></a>

                </div><!-- settlement_location_modal_bottom -->
                       
            </div><!-- ui_modal -->
        </div> <!-- helpModal modal_container -->


        <!-- end dashboard app modals -->

    </body>


</html>
