<!DOCTYPE html>
<html ng-app="akdmManager" ng-controller="rootController" ng-init="initAPI('{{api.url}}')">
    <head>

        <!-- 

            This is the "parent" template for all landing/login HTML!
            Check the README.txt for a template inheritance chart.

        -->

        <title>{{meta.title}}</title>
        <meta name="theme-color" content="#{{meta.theme_color}}" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.js"></script>

        <script src="/static/js/global.js?v={{meta.version}}"></script>
        <script src="/static/js/akdmManager.js?v={{meta.version}}"></script>
        <script src="/static/js/login.js?v={{meta.version}}"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/fonts.css?v={{meta.version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?v={{meta.version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css?v={{meta.version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/z-index.css?v={{meta.version}}">
        <link rel="stylesheet" type="text/css" href="/static/css/color.css?v={{meta.version}}">

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">

    </head>

    <body ng-controller="loginController" class="paper_gradient">


        <div id="container">
        
            <div class="header">
                - Welcome -
            </div><!-- header -->

            <div class="login_splash">

                <a href="/" class="splash_anchor">
                    <h2>Advanced</h2>
                    <h1>KDM Manager</h1>
                    <p class="app_description">The next generation of the original campaign manager for <i>Monster</i> by Kingdom Death!</p>
                </a>

                <hr/>

    	        {% with messages = get_flashed_messages() %}
	    	        {% if messages %}
 			            {% for message in messages %}
	    			        <div class="flashed_message affinity_red_text">{{ message }}</div>
	    	            {% endfor %}
	    	        {% endif %}
	            {% endwith %}  

                {% block content %}{% endblock %}

            </div><!-- login_splash -->

            <div class="footer">
                <a href="https://thelaborinvain.com" target="top">Developed by: The Labor in Vain &nbsp;<b>2018-{a cur_date| date:'yyyy' a}</b></a>
            </div><!-- footer -->

        </div><!-- container -->


        <!-- login app modals start here! -->

        <div id="aboutModal" ng-if="ui.showAboutModal" class="ng-fade modal_container">
            <div class="ui_modal settlement_event_gradient">
                <div class="settlement_event_modal_top">
                    <h1>Advanced KDM Manager</h1>
                    <p class="subtitle">- version: {{meta.version}} / {{api.version}} -</p>
                </div>
                <div class="settlement_event_modal_bottom">
                    <p>
                        Advanced KDM Manager is an interactive campaign management service designed for use with <i><a href="https://shop.kingdomdeath.com/collections/sold-out/products/kingdom-death-monster" target="top">Monster</a></i>, by <a href="http://kingdomdeath.com" target="top">Kingdom Death</a>.
                    </p>
                    <p>
                        Advanced KDM Manager and the <a href="http://api.thewatcher.io" target="top">the KD:M API</a> are developed, maintained, published, supported and provisioned by <a href="http://thelaborinvain.com">The Labor in Vain.</a>
                    </p>
                    <p>
                        Neither the Advanced KDM Manager service nor any of the software utilized by the service are developed, maintained, authorized or in any other way supported by or affiliated with <a href="http://kingdomdeath.com" target="top">Kingdom Death</a> or Adam Poots Games, LLC.
                    </p>

                    <div class="settlement_event_lingering_effect_hr">
                        Thanks for using the Manager!
                    </div>

                    <div class="settlement_event_lingering_effect_container">
                        <div class="settlement_event_lingering_effect clickable" onClick="location.href='https://blog.kdm-manager.com';">
                            <div class="art">
                                <div class="art_inset">
                                    <img src="/static/images/blogger.png"/>
                                </div>
                            </div>
                            <div class="text">Visit the <b>Development blog</b>.</div>
                        </div> <!-- settlement_event_grey_box -->
                        <div class="settlement_event_lingering_effect clickable" onClick="location.href='https://github.com/theLaborInVain/Advanced-KDM-Manager';">
                            <div class="art">
                                <div class="art_inset">
                                    <img src="/static/images/github.png"/>
                                </div>
                            </div>
                            <div class="text">Contribute on <b>GitHub</b>.</div>
                        </div> <!-- settlement_event_grey_box -->
                    </div><!-- lingering effect container -->

                    <div class="settlement_event_lingering_effect_container">
                        <div class="settlement_event_lingering_effect clickable" onClick="location.href='https://twitter.com/kdmManager';">
                            <div class="art">
                                <div class="art_inset">
                                    <img src="/static/images/twitter.png"/>
                                </div>
                            </div>
                            <div class="text">Follow the Manager on <b>Twitter</b>!</div>
                        </div> <!-- settlement_event_grey_box -->
                        <div class="settlement_event_lingering_effect clickable" ng-click="ui.showAboutModal=false">
                            <div class="art">
                                <div class="art_inset">
                                    <img src="/static/images/x.png"/>
                                </div>
                            </div>
                            <div class="text">Close this window.</div>
                        </div> <!-- settlement_event_grey_box -->
                     </div>

                </div>
            </div>
        </div> <!-- aboutModal -->

        <div id="helpModal" ng-if="ui.showHelpModal" class="ng-fade modal_container">
            <div class="ui_modal settlement_event_gradient">
                <div class="settlement_event_modal_top">
                    <h1>Password Reset</h1>
                    <p class="subtitle">- Please read these instuctions carefully! -</p>
                </div>
                <div class="settlement_event_modal_bottom">
                    <p></p>
                    <p>Enter your email address below and <b>Advanced KDM Manager</b> will send you an email with instructions on how to reset your password.</p>
                    <p>Please allow several minutes (and check your Junk/Spam folders!) for the email to arrive before pressing the submit button again.</p>

                    <div id="resetPasswordPanel" class="reset_pw_panel" ng-if="ui.showResetPasswordPanel">
                        <input
                            id="resetPasswordInput"
                            ng-model="reset_pw.email"
                            type="email"
                            placeholder="email"
                            validate
                        />
                        <button
                            ng-disabled="reset_pw.email === undefined"
                            ng-class="{
                                kd_ui_button_blue: reset_pw.email !== undefined,
                            }"
                            class="ng-fade kd_ui_button"
                            ng-click="
                                ui.showResetPasswordPanel = false;
                                ui.showResetPasswordLoader = true;
                                resetPassword();
                            "
                        >
                            Reset Password!
                        </button>
                    </div>

                    <div id="resetPasswordLoader" ng-if="ui.showResetPasswordLoader" class="ng-fade reset_pw_panel">
                        <img src="/static/images/loading.gif" class="reset_pw_graphic"/>
                    </div>

                    <div id="resetPasswordResult" ng-if="ui.showResetPasswordResult" class="ng-fade reset_pw_panel">
                        <p class="reset_pw_response affinity_red_text">{a reset_pw.response.data a}</p>
                        <button 
                            ng-if="reset_pw.response.status !== 200"
                            class="kd_ui_button kd_ui_button_grey" ng-click="resetPasswordForm()"
                        >
                            Try again
                        </button>
                    </div>

                    <hr ng-if="ui.showCloseResetPasswordButton"/>

                    <button
                        class="kd_ui_button kd_ui_button_grey"
                        ng-click="ui.showHelpModal=false"
                        ng-if="ui.showCloseResetPasswordButton"
                    >
                        Back
                    </button>

                </div> <!-- settlement_event_modal_bottom -->
            </div><!-- ui_modal -->
        </div> <!-- helpModal modal_container -->


    </body>


</html>
