{% extends "login_base.html" %}

{% block content %}

    <div class="login_controls_container" ng-controller="loginController">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <button
            id="loginSignupButton"
            class="kd_ui_button"
            ng-click="showSignupForm()"
        >
            Sign Up
        </button>

        <button
            id="loginLoginButton"
            class="kd_ui_button kd_ui_button_blue"
            ng-click="showLoginForm()"
        >
            LOGIN
        </button>

        <div id="loginLoginFormPanel" class="login_control_panel hidden">

            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label(class_='login_control_panel_label') }}<br>
                    {{ form.username(size=32, class_='login_control_panel_input') }}
                </p>
                <p>
                    {{ form.password.label(class_='login_control_panel_label') }}<br>
                    {{ form.password(size=32, class_='login_control_panel_input') }}
                </p>


                <p class="remember_me">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label(class_='login_control_panel_label checkbox_label') }}
                </p>
                <p>{{ form.submit(class_='kd_ui_button kd_ui_button_blue')}}</p>
            </form>

        </div>
        
    </div> <!-- downtime_container -->

{% endblock %}
