{% extends "login_base.html" %}

{% block content %}

<div class="login_controls_container">

    <div id="loginSignupFormPanel" class="ng-fade login_control_panel">

        <form action="" method="post" novalidate>

            {{ form.hidden_tag() }}

            <p>
                {{ form.username(size=32, autofocus='autofocus', placeholder='email') }}
                {% for error in form.username.errors %}
                    <span class="login_field_error">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.password(size=32, placeholder='password') }}
                {% for error in form.password.errors %}
                    <span class="login_field_error">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.confirm(size=32, placeholder='password (again)') }}
                {% for error in form.password.errors %}
                    <span class="login_field_error">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit(class_='kd_ui_button kd_ui_button_blue')}}</p>

        </form>

    </div>
    
</div> <!-- login_controls_container -->

<hr/>

<div class="login_link_bar">
    <a ng-click="ui.showAboutModal=true">About</a>
    <a ng-click="ui.showHelpModal=true">Forgot Password?</a>
</div>

{% endblock %}

